#header{
    background-image: url(backup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#flowers{
    background-image: url(flowers\ backie.avif);
    background-size: cover;
    background-repeat: no-repeat;

}
#about{
    background-image: url(purple.avif);
}
.card{

}