#header{
    background-image: url(backup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#flowers{
    background-image: url(blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}